<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtowerBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,192},{51,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>DtowerBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,171},{47,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,25}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>MtowerBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,120},{49,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>StowerBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>arrowIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,166},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>circleItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>loadBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,245},{35,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,4}}</string>
                <key>sourceSize</key>
                <string>{37,6}</string>
            </dict>
            <key>loadBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{37,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,6}}</string>
                <key>sourceSize</key>
                <string>{37,6}</string>
            </dict>
            <key>lockIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,212},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>magicIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,120},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>moneyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,220},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>shellIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,166},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>towerBase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>updateIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,120},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildTool.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8955f03c5dddb5352e84ab402edaabc4:fa565a279eb0cab037bf44898e590fbb:6eab5fdc7231a8d06ee63a5091950a43$</string>
            <key>textureFileName</key>
            <string>buildTool.png</string>
        </dict>
    </dict>
</plist>
